<!DOCTYPE html>
<html ng-app="myApp"> <!-- add myApp to this -->

<head>
  <script data-require="angularjs@1.4.8" data-semver="1.4.8" src="https://code.angularjs.org/1.4.8/angular.js"></script>
  <link rel="stylesheet" href="css/style.css" />
  <script src="js/myApp.js"></script>
    
</head>

<body ng-controller="ML-Ctrl">
  <div id="top-bar">
    <img src="http://i.imgur.com/WzSuTKx.png" alt="Madlibs Logo" id="logo" />
    <br>
    <h1 class="app-title">Automate This!</h1>
  </div>
  <div id="input-section">
    <h1>Provide the following words:</h1>
    <form name = "ML-input">  
    <table id=input-table>
      <TR>
        <td><input type="radio" name="Gender" value="M" ng-model="Gender" checked />Male</td>
        <td><input type="radio" name="Gender" value="F" ng-model="Gender"/>Female</td> 
      </TR>
      <TR>
        <TD><input type="text" name="maleName" ng-model="maleName" ng-show="Gender==='M'"/>
        <input type="text" name="femaleName" ng-model="femaleName" ng-show="Gender==='F'"/></TD>
        <TD><input type="text" name="DirtyTask" ng-model="DirtyTask"/></TD>
        <TD><input type="text" name="OC" ng-model="OC"/></TD>
      </TR>
      <TR>
        <TD><input type="text" name="JobTitle" ng-model="JobTitle"/></TD>
        <TD><input type="text" name="Celebrity" ng-model="Celebrity"/></TD>
        <TD><input type="text" name="HN" ng-model="HN"/></TD>
      </TR>
      <TR>
        <TD><input type="text" name="TediousTask" ng-model="TediousTask"/></TD>
        <TD><input type="text" name="UselessSkill" ng-model="UselessSkill"/></TD>
        <TD><input type="text" name="Adjective" ng-model="Adjective"/></TD>

      </TR>
    </table>
 </form>   
   </div> 
   <hr>
    <div id="mad-lib">
      <p>
        
        {{ Gender === 'F' ? femaleName: maleName }} was a {{ JobTitle }} with a love of technology. Although {{Gender === 'F'? "she":"he"}} loved parts of {{Gender === 'F'? "her":"his"}} job, {{Gender === 'F'? "she":"he"}} absolutely hated {{ TediousTask }}. So, {{ MaleName }} met with {{Gender === 'F'? "her":"his"}} life mentor {{ Celebrity }} 
        who told {{Gender === 'F'? "her":"him"}} to learn how to {{ UselessSkill }} with a local university. The local university didn’t offer a course on {{ UselessSkill }} so {{Gender === 'F'? "she":"he"}} studied programming instead.
        <br>
        What a great decision! With {{Gender === 'F'? "her":"him"}} new skills, {{ MaleName }} built a(n) {{ Adjective }} robot named {{ OC }} that not only loved {{ DirtyTask }} but did it {{ HN }} times faster.
      </p>
    </div>

</body>

</html>